bin/
.qmake.stash
*.sln
*.opensdf
*.suo
*.vcxproj
*.filters
*.user
stdafx.h.cpp
*.pdb
*.sdf
make_vc.cmd
*.pyc
*.autosave
/src/integration/grib/binary_parser/extended_data_item.h
/src/integration/grib/binary_parser/record.h
.idea
.vs